*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

img {
  width: 100%;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: #5e5e5e;
}

.btn {
  width: 100%;
  background: #4d13d1;
  min-height: 5rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn:hover {
  background-color: #4110b1;
}

.btn:link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  padding: 1.2rem 1rem;
}

.btn--medium {
  max-width: 15rem;
}

.btn--large {
  height: 5.8rem;
  font-size: 1.8rem;
  max-width: 100%;
}

.btn--signup {
  max-width: 10rem;
}

.btn--white {
  background: #fff;
  color: #4d13d1;
  max-width: 15rem;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.btn--white:hover {
  background: #ececec;
}

.btn--menu {
  display: none;
  background: none;
  width: 3.2rem;
  height: 2.4rem;
  border: none;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.btn--menu:hover {
  background: transparent;
}

.btn--menu:focus, .btn--menu:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

@media (max-width: 960px) {
  .btn--menu {
    display: block;
  }
}

.header {
  min-height: 8rem;
  font-size: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background: #fbf8f3;
}

.header__container {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  font-weight: 700;
  font-size: 2rem;
  color: #000;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30rem;
}

.header__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
  list-style: none;
}

.header__menu ul a {
  display: inline-block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #000;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.header__menu ul a:hover {
  color: #4d13d1;
}

@media (max-width: 960px) {
  .header__menu {
    display: none;
  }
  .header__menu.active {
    background-color: #fbf8f3;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 3rem;
    top: 8rem;
    left: 0;
    right: 0;
    padding: 2rem;
    height: calc(100vh - 8rem);
    z-index: 1000;
  }
  .header__menu.active ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2rem;
    margin: 4rem 0 3rem;
  }
  .header__menu.active .header__btn-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.header__btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
}

.header__btn-group .link-signin {
  display: inline-block;
  width: 9rem;
  padding: 0.5rem;
  text-decoration: none;
  color: #000;
  font-weight: 600;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.header__btn-group .link-signin:hover {
  color: #4d13d1;
}

.footer {
  background: #fbf8f3;
}

.footer__container {
  max-width: 120rem;
  margin: 0 auto 0;
  padding: 6rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 4rem;
}

@media (max-width: 768px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__info-fiber {
  max-width: 38rem;
  font-size: 1.6rem;
}

.footer__info-fiber h3 {
  font-size: 1.8rem;
  color: #000;
  font-weight: 800;
  margin-bottom: 14px;
}

.footer__info-fiber p {
  margin-bottom: 2rem;
}

.footer__nav {
  width: 100%;
}

.footer__nav-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 500px) {
  .footer__nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 4rem;
  }
}

.footer__nav-item h6 {
  font-size: 1.8rem;
  color: #000;
  font-weight: 800;
  margin-bottom: 14px;
}

.footer__nav-item ul {
  list-style: none;
  font-size: 1.5rem;
  color: #5e5e5e;
}

@media (max-width: 475px) {
  .footer__nav-item ul {
    font-size: 1.6rem;
  }
}

.footer__nav-item ul li:not(:last-child) {
  margin-bottom: 1rem;
}

.footer__nav-item ul li a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.footer__nav-item ul li a:hover {
  color: #4d13d1;
}

.hero {
  background-color: #fbf8f3;
  font-size: 1.6rem;
}

.hero__container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 6rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  min-height: 100vh;
}

@media (max-width: 768px) {
  .hero__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 0 2rem 6rem;
  }
}

.hero__content {
  width: 100%;
  max-width: 42%;
}

.hero__content .rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.hero__content .rate__group-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}

.hero__content .rate__description {
  color: #000;
  font-weight: 500;
}

@media (max-width: 768px) {
  .hero__content .rate {
    display: none;
  }
}

.hero__content .info__heading {
  font-size: 4.6rem;
  color: #000;
  margin-bottom: 2rem;
  font-weight: 700;
}

@media (max-width: 768px) {
  .hero__content .info__heading {
    font-size: 3.2rem;
  }
}

.hero__content .info__paragraph {
  margin-bottom: 2rem;
}

.hero__content .info__btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  .hero__content .info__btn-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2rem;
  }
  .hero__content .info__btn-group > .btn--medium {
    width: 100%;
    max-width: 100%;
  }
}

.hero__content .info__link {
  font-weight: 700;
}

.hero__content .info__checked {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}

.hero__content .info__checked span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}

.hero__content .info__checked span img {
  max-width: 1.6rem;
}

@media (max-width: 768px) {
  .hero__content .info__checked {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (max-width: 768px) {
  .hero__content {
    max-width: 100%;
  }
}

.hero__ilustration {
  width: 100%;
  max-width: 58%;
  position: relative;
}

@media (max-width: 768px) {
  .hero__ilustration {
    max-width: 100%;
    height: auto;
  }
  .hero__ilustration img {
    margin-top: -1rem;
  }
}

.about {
  padding: 6rem 0;
}

.about__container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.services {
  font-size: 1.6rem;
  margin-bottom: 6rem;
}

.services__header {
  width: 100%;
  max-width: 40%;
  padding: 2rem 0 3rem;
}

@media (max-width: 600px) {
  .services__header {
    max-width: 100%;
  }
}

.services__header span {
  display: inline-block;
  color: #4d13d1;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.services__header h2 {
  font-size: 3rem;
  color: #000;
}

.services__card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.services__card {
  padding: 1rem 0;
  width: 100%;
  max-width: 34rem;
}

.services__card img {
  max-width: 3rem;
  margin-bottom: 1rem;
}

.services__card h5 {
  color: #000;
  margin-bottom: 1rem;
}

@media (max-width: 425px) {
  .services__card {
    max-width: 100%;
  }
}

.baner {
  color: #fff;
  padding: 0 2rem;
  max-width: 120rem;
  margin: 0 auto;
}

.baner__container {
  border-radius: 0.5rem;
  background: #4d13d1;
}

.baner__content {
  padding: 4rem 4rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2rem;
}

@media (max-width: 768px) {
  .baner__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 4rem;
  }
}

.baner__info {
  max-width: 43rem;
  font-size: 1.6rem;
}

.baner__info h2 {
  font-size: 3.6rem;
  margin-bottom: 2rem;
}

.baner__info p {
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  .baner__info {
    max-width: 100%;
  }
  .baner__info h2 {
    font-size: 2.8rem;
  }
}

@media (max-width: 425px) {
  .baner__info .btn--white {
    max-width: 100%;
  }
}

.baner__image {
  position: relative;
  width: 100%;
  max-width: 60rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: -0.2rem;
}

@media (max-width: 768px) {
  .baner {
    max-width: 100%;
  }
}

.cards__container {
  max-width: 120rem;
  margin: 6rem auto 0;
  padding: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

@media (max-width: 700px) {
  .cards__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.card {
  border: 1px solid #f2f2f2;
  border-radius: 0.5rem;
  color: #000;
  font-size: 1.4rem;
  padding: 2rem;
  width: 100%;
  max-width: 38rem;
}

.card__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.card__avatar {
  max-width: 4rem;
}

.card__avatar-name, .card__button {
  color: #4d13d1;
  display: block;
  font-weight: 600;
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.card__avatar-name:hover {
  text-decoration: underline;
}

.card__content {
  margin-bottom: 2rem;
}

.card__content p {
  line-height: 2rem;
}

.card__button {
  width: 100%;
  font-size: 1.4rem;
  text-align: center;
  border: 1px solid #f2f2f2;
  padding: 1.3rem 1.5rem;
  border-radius: 0.3rem;
}

.card__button:hover {
  border-color: #4d13d1;
}

.container-signup {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

@media (max-width: 768px) {
  .container-signup {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.form-container {
  width: 50%;
  padding: 2.5rem 2rem;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .form-container {
    width: 100%;
  }
}

.logo-signup {
  width: 100%;
  max-width: 46rem;
  font-size: 2rem;
  font-weight: 700;
}

@media (max-width: 768px) {
  .logo-signup {
    max-width: 100%;
  }
}

.form {
  margin-top: 6rem;
  max-width: 46rem;
}

@media (max-width: 768px) {
  .form {
    max-width: 100%;
    margin-top: 5rem;
  }
}

.form__heading {
  font-size: 3.6rem;
  margin-bottom: 5rem;
}

@media (max-width: 425px) {
  .form__heading {
    font-size: 3rem;
    margin-bottom: 3rem;
  }
}

.form__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 3rem;
}

.form__group label,
.form__group input {
  font-size: 1.8rem;
  font-weight: 600;
  color: inherit;
}

.form__group input {
  height: 5rem;
  padding: 1rem 2rem;
  border: 1px solid #ececec;
  border-radius: 0.5rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.form__group input:hover, .form__group input:focus {
  border-color: #4d13d1;
}

.form__group input::-webkit-input-placeholder {
  font-size: 1.6rem;
  font-family: inherit;
  font-weight: 400;
  color: #a9a9a9c7;
}

.form__group input:-ms-input-placeholder {
  font-size: 1.6rem;
  font-family: inherit;
  font-weight: 400;
  color: #a9a9a9c7;
}

.form__group input::-ms-input-placeholder {
  font-size: 1.6rem;
  font-family: inherit;
  font-weight: 400;
  color: #a9a9a9c7;
}

.form__group input::placeholder {
  font-size: 1.6rem;
  font-family: inherit;
  font-weight: 400;
  color: #a9a9a9c7;
}

.form__group input[type='password'] {
  background: url("/Assets/hide password.svg") no-repeat center right;
  background-position-x: calc(100% - 1.6rem);
}

@media (max-width: 425px) {
  .form__group label,
  .form__group input {
    font-size: 1.6rem;
  }
}

.form__terms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1rem;
  margin-bottom: 3rem;
}

.form__terms input[type='checkbox'] {
  width: 2.4rem;
  height: 1.8rem;
  border-color: #ececec;
}

.form__terms-text {
  font-size: 1.8rem;
  font-weight: 500;
}

.form__terms-text a {
  display: inline-block;
  color: #4d13d1;
  font-weight: 700;
  text-decoration: none;
  border-bottom: 2px solid #4d13d1;
}

.form__text {
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 2rem;
  text-align: center;
}

.form__text a {
  text-decoration: none;
  color: #4d13d1;
}

@media (max-width: 425px) {
  .form__terms-text, .form__text {
    font-size: 1.6rem;
  }
}

.info-container {
  width: 50%;
  background: #4d13d1;
  padding: 10rem 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .info-container {
    display: none;
  }
}

.carrousel {
  max-width: 50rem;
  color: #fff;
}

.carrousel__heading {
  font-size: 3.6rem;
  margin-top: 4rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  text-align: center;
}

.carrousel__paragraph {
  font-size: 1.8rem;
  line-height: 1.7;
  font-weight: 400;
  margin-bottom: 1.5rem;
  text-align: center;
  color: #d9cdfc;
}

.carrousel__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.carrousel__control span {
  margin-left: -5rem;
}

.carrousel__control span::before {
  display: block;
  content: '';
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 25px 0 0 #a587ff, 50px 0 0 #a587ff, 75px 0 0 #a587ff;
          box-shadow: 25px 0 0 #a587ff, 50px 0 0 #a587ff, 75px 0 0 #a587ff;
}
/*# sourceMappingURL=styles.css.map */