.btn {
  width: 100%;
  background: $color-primary;
  min-height: 5rem;
  font-size: 1.8rem;
  font-weight: 600;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    background: $color-primary-dark;
  }

  &--large {
    height: 5.8rem;
  }
}
